<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>654492970158-fi9gm21jae23hvfr40rr5p9kmkrsimja.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.654492970158-fi9gm21jae23hvfr40rr5p9kmkrsimja</string>
	<key>API_KEY</key>
	<string>AIzaSyCOFZxb77BdUJ0sC9NlvZ9EsclzXgelI8g</string>
	<key>GCM_SENDER_ID</key>
	<string>654492970158</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>DBCSealions.FirebaseFriendRequest</string>
	<key>PROJECT_ID</key>
	<string>fir-friend-request</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-friend-request.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:654492970158:ios:ffdc4ffe76163acf</string>
	<key>DATABASE_URL</key>
	<string>https://fir-friend-request.firebaseio.com</string>
</dict>
</plist>